---
// import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("pages", "contact");
// const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <script>
            const get = (id) => document.getElementById(id) || { value: '' }

            const submitForm = () => {
              saveInput()
              sendmail()
            }

            // save and retrieve generic formdata from localstorage
            const getFormData = () => {
              const store = Object.create(null)
              store.nama = get('nama')?.value
              store.email = get('email')?.value
              store.subject = get('subject')?.value
              store.pesan = get('pesan')?.value
              return store
            }

            const saveInput = () => {
              const { pesan, subject, ...rest } = getFormData()
              localStorage.setItem('contactinfo', JSON.stringify(rest))
            }

            const retrieveInfo = () => {
              const store = JSON.parse(localStorage.getItem('contactinfo') || '{}')
              get('nama').value = store.nama || ''
              get('email').value = store.email || ''
            }
            // end: localstorage

            // This kicks thing of, should really be on window.onload but...
            const submitBtn = document.querySelector('[type="submit"]')
            submitBtn?.addEventListener('click', submitForm)
            retrieveInfo()
            ;[...document.querySelectorAll('input')][0]?.focus()
            // window.onload = () => {} // don't know why this wont work

            const sendmail =  () => {
              const { nama, email, pesan, subject } = getFormData()
              const data =  fetch('/api/sendmail.json', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({ nama, email, pesan, subject }),
              })
                .then((res) => {
                  if (!res.ok) {
                    throw new Error(res.status)
                  }
                  return res.json()
                })
                .catch((err) => {
                  console.log('Error', err)
                  throw new Error('Network error.')
                })
              console.log(data) // Here is the response from backend
            }
          </script>
          <form method="POST" id="form" onsubmit="
          event => event.preventDefault(); return false
          ">
            <div class="grid grid-cols-1 md:grid-cols-2 md:gap-5">
              <div class="mb-6">
                <label for="nama" class="form-label">
                  Nama Lengkap <span class="text-red-500">*</span>
                </label>
                <input
                id="nama"
                class="form-input"
                placeholder="John Doe"
                type="text"
                value=""
                />
              </div>
              <div class="mb-6">
                <label for="email" class="form-label">
                  Alamat Email <span class="text-red-500">*</span>
                </label>
                <input
                id="email"
                class="form-input"
                placeholder="john.doe@email.com"
                type="email"
                value=""
                />
              </div>
            </div>
            <div class="mb-6">
              <label for="subject" class="form-label">
                Subject <span class="text-red-500">*</span>
              </label>
              <input
                id="subject"
                class="form-input"
                placeholder="john.doe@email.com"
                type="text"
                value=""
                />
            </div>
            <div class="mb-6">
              <label for="pesan" class="form-label">
                Pesan <span class="text-red-500">*</span>
              </label>
              <textarea
                class="form-input"
                placeholder="pesan goes here..."
                id="pesan"
                rows="8"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Kirim</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
